
@model RegisterViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    .name-cls {

        text-align: center;
        font-weight: bold;
        /*color: black;*/
    }

    #profile-title-id {
        font-weight: bold;
        color: gray;
    }
    .text-align-right-cls {

        text-align: right;
    }



</style>

<section>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5 style="font-weight: bold; color: black">Users List</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="user-list-table-id">
                    <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>EmpCode</th>
                        <th>Image</th>
                        <th>IsVerified</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.allUsers)
                    {
                        <tr>
                            <td>@item.fullName</td>
                            <td>@item.Email</td>
                            <td>@item.employeeCode</td>
                            <td>
                                <img src="~/@item.imgUrl" height="50" width="50" />
                            </td>
                            <td>
                                @if (item.isVerified == 0)
                                {
                                    <input type="checkbox" checked="checked" readonly="readonly" style="height: 20px; width: 20px;"/>
                                }
                                else
                                {
                                    <input type="checkbox" readonly="readonly" style="height: 20px; width: 20px;"/>
                                }
                            </td>
                            <td>
                                <button class="btn btn-success" onclick="View('@item.Email')"><i class="fas fa-eye"></i></button>
                                <button class="btn btn-primary" onclick="Edit('@item.Email')"><i class="fas fa-pencil-alt"></i></button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<div class="modal fade employee-info-modal-cls" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

    </div>
</div>

@section Scripts
{
    <script>

        $(document).ready(function() {

            $("#user-list-table-id").DataTable();

        });


        function Edit(email) {

            //var response = Common.Ajax('GET', '/api/UserControl/GetUserInfoByUserId/' + 'username', [], 'json');
            alert(email);
            $.ajax({
                url: "/User/UserControl/GetUserInfoByUserEmail",
                type: "Get",
                data: { email: email},
                success: function (response) {

                    var html =
                        '<div class="card">' +
                            ' <div class="card-header">' +
                                 ' <img src="/' + response.applicationUser.imgUrl + '" class="rounded-circle" height="100" width="100" />' +
                            ' </div>' +
                        '<div class="card-body">' +
                                '<div class="name-cls">' +
                                '<h5>' + response.applicationUser.fullName + '</h5>' +
                                '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
                                '<span aria-hidden="true">&times;</span>' +
                                '</button>' +
                                '</div>' +
                                '<hr />' +
                                '<h6 id="profile-title-id">Profile</h6>' +
                                '<div class="profile-content-cls">' +
                                        '<div class="row">' +
                                        ' <div class="col-6"> User ID: </div>' +
                                        ' <div class="col-6 text-align-right-cls"> 485843 </div>' +
                                        ' </div>' +
                                        '<div class="row">' +
                                        '<div class="col-6"> User ID: </div>' +
                                        ' <div class="col-6 text-align-right-cls"> 485843 </div>' +
                                        ' </div>' +
                                        '<div class="row">' +
                                        '<div class="col-6"> User ID: </div>' +
                                        '<div class="col-6 text-align-right-cls"> 485843 </div>' +
                                        '</div>' +
                                        '<div class="row">' +
                                        '<div class="col-6"> User ID: </div>' +
                                        '<div class="col-6 text-align-right-cls"> 485843 </div>' +
                                        '</div>' +
                                    '</div>' +
                            '</div>' +
                            '<div class="card-footer">' + 
                                '<button type="button" class="btn btn-primary">Verify</button>' + 
                                '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>' +
                            '</div>'+
                        '</div> ';


                    $(".modal-dialog").append(html);

                }
            });

            $(".employee-info-modal-cls").modal("show");

        }

    </script>
}
